@tailwind base;
@tailwind components;
@tailwind utilities;

.category__search {
    @apply my-10 text-center;
  }
  h2 {
    @apply text-4xl capitalize font-bold;
  }
  h2 span {
    @apply text-primary;
  }
  
  h3 {
    @apply text-gray-600 mt-2;
  }
  
  .search__box {
    @apply mx-auto mt-4 flex items-center justify-center;
  }
  
  .search__input {
    padding: 1.4rem 1rem;
    border: 2px solid #367bf4 !important;
    border-right: none !important;
    transform: translateX(1px);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    color: #367bf4 !important;
  }
  
  .search__input:focus {
    outline: none !important;
    border: 2px solid #367bf4 !important;
    border-right: none !important;
  }
  
  .search__input::placeholder {
    @apply text-gray-600 !important;
  }
  
  .search__btn{
    border-bottom-right-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
  }
  
  .search__btn {
    @apply w-1/3 flex items-center text-xl capitalize;
  }
  
  .search__icon{
    @apply -translate-x-1
  }