@tailwind base;
@tailwind components;
@tailwind utilities;

.doctor__card{
  @apply  bg-white w-56 h-[350px] p-4 flex flex-col gap-0 rounded-xl ring-blue-900 ring-2 relative xl:col-span-2;
}

.image__container--outer{
  @apply absolute w-32 h-32 left-1/2 -top-[19%] -translate-x-1/2 bg-white rounded-full ring-blue-900 ring-2 flex items-center justify-center overflow-hidden
}

.image__container--inner{
  @apply bg-primary w-[6.5rem] h-[6.5rem] rounded-full overflow-hidden
}

.doctor__card img{
  @apply w-full h-full object-cover;
}

.card__content{
  @apply flex flex-col items-center justify-center;
}

.card__content a{
  @apply bg-primary inline-block self-start py-1 px-3 text-white font-bold text-lg rounded-full;
}

.card__content h3{
  @apply text-lg text-black font-bold tracking-wider;
}

.card__content h4{
  @apply text-xl text-black font-bold
}
.card__content p{
  @apply text-blue-900 text-sm my-3 font-semibold capitalize
}

.card__content > p:last-child{
  @apply text-gray-600 text-xs font-normal inline-block whitespace-pre-line text-center
}

.specialty-box{
  @apply my-2 flex items-center space-x-2;
}

.specialty-box p {
  @apply text-primary my-6 text-sm font-semibold capitalize tracking-wider
}

.card__button{
  @apply bg-primary m-0 py-2 text-sm text-white text-center uppercase font-bold tracking-wider rounded-full hover:ring-primary hover:ring-2 hover:bg-white hover:text-primary hover:tracking-widest transition-all duration-300 ease-in-out
}
.more__button {
  background: none !important;
  border: none;
  color: #0070f3 !important;
  padding: 0  !important;
  margin: 0 !important;
  transform: translateX(-0.1rem) !important;
  display: inline-block !important;
}
.more__button{
  @apply bg-none border-none text-primary text-xs cursor-pointer
}